# Bytecode files
*.pyc
__pycache__
/src/*.class
/src/net/instant/**/*.class

# Build files
/.build.jar
/Instant-run.jar

# Data
*.sqlite
*.log

# Runtime
/config
/db
/log
/run

# Miscellaneous
/local
