# Files to be ignored
/archive/
/local/
*.pyc
*.sqlite
*.log

# Intermediate build/run files
/.build.jar
/Instant-run.jar
/cookie-key.bin

# Other packages contain class files only
/src/*.class
/src/net/instant/**/*.class
