
html {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
}
.popup {
  display: inline-block;
  line-height: initial;
  text-align: justify;
}

.mdl-card.card-wide {
  width: 512px;
}
.mdl-card__supporting-text p:last-child {
  margin-bottom: 0;
}
