
/* Dark theme. */

.dark {
  color: white;
  background: black;
}

.dark :focus {
  outline-color: white;
}

.dark a {
  color: #0080ff;
}
.dark a:visited {
  color: #c000c0;
}

.dark #load-wrapper, .dark .breadcrumbs.standalone {
  color: white;
  background: black;
}

.dark .logo img {
  box-shadow: 0 0 30px white;
}

.dark a.logo-small {
  color: white;
}
.dark .logo-small img {
  box-shadow: 0 0 2px white;
}
.dark .logo-small strong {
  color: white;
}

.dark .throbber {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.dark .room-name, .dark a.room-name {
  color: white;
}
.dark .online-status, .dark .settings, .dark .settings-content {
  border-color: white;
  box-shadow: 0 0 5px white;
}
.dark .settings, .dark .settings-content {
  color: white;
  background: black;
}
.dark #notifies-any {
  color: #c0c0c0;
}
.dark .update-message a {
  color: #008000 !important;
}
.dark .user-list-counter a {
  color: #c0c0c0;
}
.dark .user-list-counter img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.dark .nick, .dark .message.emote > .line .content {
  color: black;
}
.dark .message.ping > .line {
  color: black;
}
.dark .message.ping > .line time a {
  color: white;
}
.dark .message > .line .monospace {
  background: #404040;
}

.dark .sidebar > * {
  background: rgba(0, 0, 0, 0.5);
}

.dark .input-bar, .dark .input-bar .input-message-cell .input-message,
.dark .input-bar .input-message-cell .input-nick-prompt {
  color: white;
  background: black;
}

.dark .input-bar .input-info-cell .alert-container,
.dark .input-bar .input-message-cell .input-nick-prompt img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.very-dark #main {
  opacity: 0.5 !important;
}
