
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  background: white;
  /* Prevent Chrome pull-to-refresh */
  overflow: hidden;
}

:focus {
  outline: 1px dotted black;
}

#load-wrapper {
  display: inline-block;
  position: relative;
  background: white;
  padding: 30px;
  margin: 30px auto;
  -webkit-transition: background 0.5s, color 0.5s,
                      opacity 1s, box-shadow 0.1s;
  transition: background 0.5s, color 0.5s,
              opacity 1s, box-shadow 0.1s;
  z-index: 100;
}

#load-wrapper hr {
  margin: 10px 0;
  border: 1px solid black;
}

.content-box {
  display: block;
  text-align: justify;
}

#load-wrapper .wait {
  font-weight: bold;
  margin: 10px 0;
}

.note {
  display: table-row;
}
.note > strong, .note > span {
  display: table-cell;
}
.note > :not(:last-child) {
  padding-right: 1ch;
}

.indent {
  display: block;
  margin-left: 1em;
}

.hidden {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

.message > .line {
  display: -webkit-flex;
  display: flex;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.message.ping > .line {
  background: #ffffc0;
}
.message > .line .nick-wrapper {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.message > .line .nick-wrapper .nick {
  display: inline-block;
}
.message > .line .nick-wrapper .nick::before {
  content: "";
  display: inline-block;
  min-height: 1em;
}
.message > .line time {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 3.5em;
  padding: 1px 0;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.message > .line time, .message > .line time a {
  color: #808080;
}
.message.ping > .line time, .message.ping > .line time a {
  color: black;
}
.message > .line .content {
  min-width: 0;
}
.message > .line .content .message-text {
  display: block;
  padding: 1px 0 1px 0.25em;
}
.message.emote > .line .content .message-text {
  padding-right: 0.25em;
}

.message > .line .mention, .message > .line a {
  unicode-bidi: embed;
}
.message > .line .smiley {
  font-weight: bold;
}
.message > .line .sigil {
  color: #808080;
}
.message > .line .false {
  display: inline;
  color: inherit;
}
.message > .line .emph-before, .message > .line .emph-after {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}
.message > .line .monospace {
  background: #f0f0f0;
}
.message > .line .monospace-block {
  display: block;
}

.message > .replies {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-left: 2px solid #c0c0c0;
  padding: 2px 0 0 8px;
}
.message > .replies:empty {
  display: none;
}
.message.input-host > .replies {
  /* Override inline style set by JS */
  border-left-color: #808080 !important;
}

.message + .message {
  margin-top: 2px;
}

.nick {
  padding: 1px 2px;
  background: #c0c0c0;
  white-space: pre-wrap;
  word-break: break-all;
}

@media (max-width: 400px) {

  .message > .line {
    display: block;
    padding: 0 0 0 10px;
    text-indent: -10px;
  }
  .message > .line > * {
    text-indent: 0;
  }
  .message > .line .nick-wrapper, .message > .line .content,
  .message > .line .content .message-text {
    display: inline;
    position: static;
    margin: 0;
  }

  .message .nick {
    padding: 0 1px;
  }

}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: left;
}

.sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 3px;
  right: 3px;
  margin-right: 15px; /* For scrollbar */
}
.sidebar > * {
  background: rgba(255, 255, 255, 0.5);
  padding: 3px 0 3px 3px;
}

.sidebar-top {
  line-height: 1.2;
}

.throbber {
  display: none;
  width: 1.2em;
  height: 1.2em;
  vertical-align: bottom;
}
.throbber.visible {
  display: inline-block;
}

.room-name, a.room-name {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.staging {
  font-style: italic;
}

.online-status, .settings {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: bottom;
  border-radius: 50%;
  border: 1px solid black;
  box-sizing: border-box;
}

.online-status {
  background: #ffff00;
}
.online-status.connected {
  background: #00c000;
}
.online-status.broken {
  background: #c00000;
}

.settings-wrapper {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.settings {
  position: relative;
  font-size: 100%;
  line-height: 0;
  background: white;
  cursor: pointer;
}
.settings::-moz-focus-inner {
  margin: 0;
  border: 0;
  padding: 0;
}
.settings img {
  padding: 2px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.settings-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -1px;
  border: 1px solid black;
  padding: 5px;
  z-index: -1;
  text-align: left;
  white-space: nowrap;
  background: white;
  color: black;
}
.settings-content label {
  display: block;
}
.settings-content hr {
  border: none;
  height: 5px;
}

.settings-wrapper.visible .settings {
  border-radius: 0;
  border-bottom-width: 0;
  padding-bottom: 1px;
  box-shadow: none;
}
.settings-wrapper.visible .settings-content {
  display: block;
}

.ui-message {
  display: none;
}
.ui-message.visible {
  display: block;
}
.sidebar .ui-message {
  text-align: right;
}

.update-message a {
  color: #004000;
  font-weight: bold;
}
.refresh-message {
  color: #808000;
  font-weight: bold;
}

/* WARNING: Must have no horizontal margin or padding to avoid scrollbar
 *          insanities */
.user-list-wrapper {
  padding-left: 0;
  max-height: 75vh;
  overflow: auto;
  background: none;
}
.user-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.user-list-wrapper > .user-list {
  padding-left: 3px;
}
.user-list-wrapper.overflow > .user-list {
  padding-right: 3px;
}
.user-list.collapsed, .user-list-wrapper.collapsed {
  display: none;
}

.user-list .nick {
  margin-bottom: 2px;
  color: black;
  box-shadow: 0 0 5px #ffffff;
}
.user-list .nick:last-child {
  margin-bottom: 0;
}
.user-list .nick:empty {
  display: none;
}

.user-list-counter {
  line-height: 1.2;
}
.user-list-counter img {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: 0.1em;
  vertical-align: top;
  opacity: 0.75;
}
.user-list-counter.collapsed img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.user-list-counter a {
  font-style: italic;
  text-decoration: none;
  color: #404040;
}
.user-list-counter a:hover span, .user-list-counter a:focus span {
  text-decoration: underline;
}

#notifies-ping {
  color: #808000;
}
#notifies-reply {
  color: #0060c0;
}
#notifies-any {
  color: #404040;
}

.input-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: stretch;
  align-content: stretch;
  width: 100%;
  margin: 5px 0;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px #808080;
  line-height: 1.2;
}
.input-bar .input-nick-sizer, .input-bar .input-nick,
.input-bar .input-message, .input-bar .input-message-sizer {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}
.input-bar .input-info-cell {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 3.5em;
}
.input-bar .alert-container {
  display: table;
  margin: auto;
  padding: 1px 0;
  min-height: 1.2em;
  line-height: 0;
}
.input-bar .alert-container a {
  display: table-cell;
  width: 1.2em;
  height: 1.2em;
}
.input-bar .alert-container img {
  display: block;
  width: 100%;
  height: 100%;
}
.input-bar .input-nick-cell {
  position: relative;
}
.input-bar .input-nick-sizer {
  display: inline-block;
  padding: 1px 2px;
  white-space: pre;
  min-height: 1.2em;
  vertical-align: bottom;
  color: transparent;
  background: #c0c0c0;
}
/* Need to be more specific than catch-all below */
.input-bar .input-nick-sizer, #main .input-bar .input-nick-sizer {
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.input-bar .input-nick {
  position: absolute;
  top: 1px;
  left: 2px;
  min-width: 100%;
  color: black;
  background: transparent;
}
.input-bar .input-message-cell {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 1px 0 1px 0.25em;
}
.input-bar .input-nick-prompt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border: 1px solid #808080;
  padding-right: 0.25em;
  background: white;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 10;
}
.input-bar .input-nick-prompt img {
  width: 1.2em;
  height: 1.2em;
  vertical-align: bottom;
}
.input-bar .input-group {
  position: relative;
}
.input-bar .input-message, .input-bar .input-message-sizer {
  width: 100%;
  color: black;
  background: transparent;
  overflow: hidden;
  resize: none;
}
.input-bar .input-message-sizer {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.input-bar input, .input-bar textarea {
  outline: none;
}

.offscreen-alert {
  visibility: hidden;
  opacity: 0.5;
}
.offscreen-alert.visible {
  visibility: visible;
}
.offscreen-alert.ping {
  opacity: 1;
}

.message > .replies > .input-bar:first-child {
  margin-top: 3px;
}
.message > .replies > .input-bar:last-child {
  margin-bottom: 3px;
}

.message-box {
  position: relative;
  padding-left: 3.5em;
  overflow: auto;
}
.message-box.notimes {
  padding-left: 0;
}
.message-box.notimes .message > .line time {
  display: none;
}
.message-box.notimes .input-bar .input-info-cell {
  display: none;
}

.message-pane {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: auto;
}
.message-pane > .message-box {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 3.5em;
}
.message-pane > .message-box.notimes {
  padding-left: 5px;
}

.message-pane > .message-box > .message:last-child {
  margin-bottom: 2px;
}

img.turn-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
img.turn {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
img.turn-left {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
img.inline {
  display: inline-block;
}

.message.new:not(.mine):not(.ping) > .line {
  background: rgba(128, 128, 128, 0.3);
  /* Have to define explicitly so that the pausing selector
   * has a chance */
  -webkit-animation-name: bgfade;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-name: bgfade;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.message.new > .line time::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 2px;
  width: 2px;
  height: 100%;
  background: #808080;
  -webkit-animation-name: bgfade;
  -webkit-animation-duration: 60s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-name: bgfade;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.message.new.offscreen > .line,
.message.new.offscreen > .line time::after {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@-webkit-keyframes bgfade { to { background: transparent; } }
@keyframes bgfade { to { background: transparent; } }

.user-list .nick {
  -webkit-animation: clrfade 300s cubic-bezier(0.5, 0.0, 1.0, 1.0) both;
  animation: clrfade 300s cubic-bezier(0.5, 0.0, 1.0, 1.0) both;
}
@-webkit-keyframes clrfade { to { color: rgba(0, 0, 0, 0.5); } }
@keyframes clrfade { to { color: rgba(0, 0, 0, 0.5); } }

body, #main, #main * {
  -webkit-transition: background 0.5s, color 0.5s, opacity 1s;
  transition: background 0.5s, color 0.5s, opacity 1s;
}
